body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 20%;
    background-color: #2f3b4c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    color: white;
}

.logo {
    margin-bottom: 30px;
    text-align: center;
}

.logo-image {
    max-width: 80px;
    border-radius: 50%;
}

.menu-button {
    width: 80%;
    padding: 15px;
    margin: 10px 0;
    background-color: white;
    color: #2f3b4c;
    border: none;
    cursor: pointer;
    text-align: left;
    border-radius: 20px;
    font-size: 20px;
    transition: background-color 0.3s;
}

.menu-button.active {
    background-color: #ffc107;
    color: white;
}

.menu-button:hover {
    background-color: #d3e1e5;
}

.main-content {
    width: 80%;
    padding: 20px;
    position: relative;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    font-size: 14px;
}

.time-status, .status {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
}

.hint-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.hint-image {
    flex: 1;
    text-align: center;
}

.hint-image-content {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hint-text {
    flex: 2;
    margin-left: 20px;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
}

.record-button {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    background-color: red;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}

.record-button:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
